<%= title %>
<%= user %>

<form action="/new" method="POST">
    <div>
        <label for="text">Artitle</label>
        <textarea name="text" id="text" cols="30" rows="10"></textarea>
        <button type="submit">Submit</button>
    </div>
</form>