<h1><%= title %></h1>

<h3>List of article</h3>
<% if(article.length <= 0) { %>
    <p>There is no article to display </p>
<% } else { %>    
    <% for(var i=0; i<article.length; i++) { %>
        <li><%= article[i].text %></li>
    <% } %>   
<% } %>    